/Channel9.Challenge/.vs/Channel9.Challenge/DesignTimeBuild/.dtbcache
/Channel9.Challenge/.vs/Channel9.Challenge/config/applicationhost.config
/Channel9.Challenge/.vs/Channel9.Challenge/v16/.suo
/Channel9.Challenge/.vs/Channel9.Challenge/v16/Server/sqlite3/db.lock
/Channel9.Challenge/.vs/Channel9.Challenge/v16/Server/sqlite3/storage.ide
/Channel9.Challenge/.vs/Channel9.Challenge/v16/Server/sqlite3/storage.ide-shm
/Channel9.Challenge/.vs/Channel9.Challenge/v16/Server/sqlite3/storage.ide-wal
